@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #111827;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 5px #777;
}

.topbar .logo span {
  font-size: 32px;
  font-family: "Rubik Wet Paint", system-ui;
  color: blue;
  font-weight: 400;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 400;
  transition: 0.3;
  text-transform: uppercase;
  position: relative;
  color: #fff;
}

.navbar a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: blue;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.navbar a:hover::after {
  width: 100%;
  color: blue;
}

/* Navbar Toggler */
.topbar .navbar-toggler {
  color: #fff;
  font-size: 32px;
  visibility: hidden;
}

#navbar-status {
  visibility: hidden;
}

/* Topbar media */
@media screen and (max-width: 777px) {
  /* Navbar Toggler */
  .topbar .navbar-toggler {
    visibility: visible;
  }

  .navbar {
    position: fixed;
    width: 280px;
    height: 90vh;
    margin-top: 78px;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #111827;
    box-shadow: 5px 0 5px #777;
    padding: 20px;
    transform: translateX(calc(-100% - 20px));
    transition: transform 0.3s;
  }

  .navbar a {
    margin: 12px 0 !important;
  }

  #navbar-status:checked ~ .navbar {
    transform: translateX(0);
  }
}

@media screen and (max-width: 499px) {
  .topbar {
    padding: 15px 5%;
  }

  .topbar .logo span {
    font-size: 28px;
  }

  /* Navbar Toggler */
  .topbar .navbar-toggler {
    font-size: 28px;
  }

  .navbar {
    height: 95vh;
    margin-top: 65px;
  }
}

/* BTN */
.btn {
  padding: 17px 32px;
  border-radius: 12px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  background-color: blue;
  transition: .3s;
}

.btn:hover {
  background-color: black;
}
