/* Header */
#header {
  background-color: #2e2e2e;
  margin: 120px 5%;
  border-radius: 32px;
  padding: 40px 0 64px;
}

/* Header content */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  padding-left: 116px;
}

.header-content .header-desc {
  width: 40%;
}

.header-desc span {
  margin: 52px 0 24px;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
}

.header-desc h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

.header-content .header-img {
  width: 55%;
}

.header-img img {
  width: 100%;
}

/* Header info */
.header-info {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-left: 116px;
  padding-right: 116px;
  margin-top: -100px;
}

.header-info .header-item {
  background-color: #fff;
  border-radius: 24px;
  padding: 20px;
  color: black;
  width: 25%;
  flex-wrap: wrap;
}

.header-item h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px;
}

.header-item p {
  color: #666;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header-item:last-child {
  background-color: #fff705;
}

.header-item:last-child span,
.header-item:last-child p {
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

/* HEADER MEDIA */
@media screen and (max-width: 1275px) {
  /* Header content */
  .header-content {
    padding-left: 100px;
  }

  .header-content .header-desc {
    width: 45%;
  }

  .header-desc span {
    margin: 52px 0 20px;
    font-size: 18px;
  }

  .header-desc h1 {
    font-size: 54px;
    margin-bottom: 30px;
  }

  .header-content .header-img {
    width: 50%;
  }

  /* Header info */
  .header-info {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: -60px;
  }

  .header-info .header-item {
    border-radius: 16px;
    padding: 15px;
  }

  .header-item h3 {
    font-size: 18px;
    line-height: 20px;
  }

  .header-item p {
    font-size: 13px;
    line-height: 15px;
  }

  .header-item:last-child span,
  .header-item:last-child p {
    font-size: 13px;
    line-height: 15px;
  }
}

@media screen and (max-width: 1030px) {
  /* Header */
  #header {
    margin: 110px 5% 60px;
    border-radius: 28px;
    padding: 30px 0 58px;
  }

  /* Header content */
  .header-content {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 0px;
  }

  .header-content .header-desc {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }

  .header-desc span {
    margin: 50px 0 18px;
  }

  .header-desc h1 {
    font-size: 54px;
    margin-bottom: 30px;
  }

  /* BTN */
  .btn {
    padding: 15px 28px;
    border-radius: 10px;
    font-size: 16px;
  }

  .header-content .header-img {
    width: 100%;
    padding: 0 100px;
  }

  /* Header info */
  .header-info {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .header-info .header-item {
    padding: 20px;
    width: 100%;
  }

  .header-item h3 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  .header-item p {
    font-size: 14px;
    line-height: 16px;
  }

  .header-item:last-child span,
  .header-item:last-child p {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 650px) {
  /* Header */
  #header {
    margin: 100px 4% 56px;
    border-radius: 25px;
    padding: 20px 0 50px;
  }

  /* Header content */
  .header-content .header-desc {
    padding-left: 60px;
    padding-right: 60px;
  }

  .header-desc span {
    font-size: 16px;
    margin: 45px 0 15px;
  }

  .header-desc h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  /* BTN */
  .btn {
    padding: 14px 25px;
    border-radius: 8px;
    font-size: 15px;
  }

  .header-content .header-img {
    padding: 0 20px;
  }

  /* Header info */
  .header-info {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -45px;
  }

  .header-info .header-item {
    padding: 18px;
  }

  .header-item h3 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .header-item p {
    font-size: 13px;
    line-height: 15px;
  }

  .header-item:last-child span {
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-top: 13px;
    display: block;
    color: #2e2e2e;
    background-color: lime;
    box-shadow: 0 0 10px #777 inset, 0 0 5px #2e2e2e;
    border-radius: 10px;
    padding: 12px 24px;
  }
}

@media screen and (max-width: 500px) {
  /* Header */
  #header {
    margin: 88px 4% 56px;
    border-radius: 20px;
    padding: 15px 0 45px;
  }

  /* Header content */
  .header-content .header-desc {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header-desc span {
    font-size: 14px;
    margin: 30px 0 12px;
  }

  .header-desc h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  /* Header info */
  .header-info {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -40px;
  }

  .header-item:last-child span {
    font-size: 20px;
    line-height: 22px;
    padding: 10px 20px;
  }
}

/* About */
#about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 120px;
}

#about .about-info {
  width: 45%;
}

.about-info h2 {
  font-size: 46px;
  line-height: 48px;
  letter-spacing: -0.02em;
  font-weight: 500;
  margin-bottom: 25px;
}

.about-info p {
  font-size: 18px;
  color: rgb(102, 102, 102);
  font-weight: 500;
}

#about .about-img {
  width: 55%;
}

.about-img img {
  width: 100%;
}

/* About media */
@media screen and (max-width: 1145px) {
  /* About */
  #about {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #about .about-info {
    width: 100%;
  }

  #about .about-img {
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
  /* About */
  #about {
    gap: 30px;
    margin-bottom: 60px;
  }

  .about-info h2 {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .about-info p {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  /* About */
  #about {
    gap: 28px;
  }

  .about-info h2 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 18px;
  }

  .about-info p {
    font-size: 15px;
  }
}

/* Carusel */
#carousel {
  padding: 100px 35px;
  background-image: linear-gradient(to left top, #031a9a, #8b53ff);
}

#carousel .carousel-title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin: 0 100px 30px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 32px;
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card .img {
  background: #8b53ff;
  width: 148px;
  height: 148px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}

.card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  #carousel .carousel-title {
    font-size: 34px;
    margin: 0 30px 30px;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  #carousel .carousel-title {
    font-size: 26px;
    margin: 0 10px 25px;
  }

  #carousel {
    padding: 50px 35px;
  }

  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* About Course */
#about-course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  padding: 50px;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
}

.about-course-img {
  width: 30%;
}

.about-course-img img {
  width: 100%;
}

.about-course-info {
  width: 60%;
}

.about-course-info h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 20px;
}

.about-course-info p {
  color: rgb(102, 102, 102);
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}

@media screen and (max-width: 925px) {
  /* About Course */
  #about-course {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .about-course-img {
    width: 50%;
  }

  .about-course-info {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #about-course {
    margin: 50px 0;
    padding: 40px;
    border-radius: 10px;
  }

  .about-course-info h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .about-course-info p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}

/* Resume */
#resume {
  padding: 100px 0;
  margin: 0 60px;
  margin-bottom: 100px;
  background-color: rgb(245, 245, 245);
  border-radius: 32px;
}

#resume h2 {
  margin-bottom: 56px;
  font-size: 52px;
  line-height: 54px;
  letter-spacing: -0.02em;
}

/* resume content */
.resume-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* resume author */
.resume-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background-color: #fff;
  border-radius: 32px;
  width: 30%;
}

.resume-author img {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.resume-author-info {
  text-align: center;
}

.resume-author span {
  margin-bottom: 12px;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

.resume-author h3 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  text-transform: capitalize;
}

/* resume item */
.resume-item {
  padding: 48px;
  background-color: #fff;
  border-radius: 32px;
  width: 70%;
}

.resume-item span {
  margin-bottom: 12px;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

/* resume list */
.resume-list {
  column-count: 2;
  column-gap: 20px;
}

.resume-check {
  display: flex;
  align-items: flex-start;
}

.resume-check img {
  width: 20px;
  height: 20px;
}

.resume-check li {
  margin-bottom: 12px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

/* resume logo */
.resume-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.resume-logo .resume-logo-item {
  padding: 6px 16px 6px 6px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  position: relative;
}

.resume-logo-item img {
  margin-right: 10px;
  width: 32px;
  border-radius: 8px;
}

.resume-logo-item p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

/* Resume logo tooltip */
.resume-logo-tooltip {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(41, 41, 41);
  padding: 24px;
  width: max-content;
  min-width: 68px;
  max-width: 280px;
  border-radius: 10px;
  color: #fff;
  z-index: 10;
  display: none;
  opacity: 0;
}

.resume-logo-tooltip::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 8px solid #292929;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}

.resume-logo-item:hover .resume-logo-tooltip,
.resume-logo-item:focus .resume-logo-tooltip {
  display: inline-block;
  opacity: 1;
}

.resume-logo-tooltip h4 {
  field-sizing: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.resume-logo-tooltip p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 1111px) {
  /* resume content */
  .resume-content {
    flex-direction: column;
  }

  /* resume author */
  .resume-author {
    flex-direction: row;
    justify-content: flex-start;
    background-color: #fff;
    width: 100%;
  }

  .resume-author-info {
    text-align: start;
  }

  .resume-author img {
    width: 100px;
    margin-bottom: 0px;
    margin-right: 20px;
  }

  /* resume item */
  .resume-item {
    width: 100%;
  }

  /* resume list */
  .resume-list {
    column-count: 1;
    column-gap: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 777px) {
  /* Resume */
  #resume {
    padding: 50px 0;
    margin: 0 35px;
    margin-bottom: 50px;
    border-radius: 25px;
  }

  #resume .container {
    width: 90%;
  }

  #resume h2 {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 32px;
  }

  /* resume content */
  .resume-content {
    flex-direction: column;
  }

  /* resume author */

  .resume-author {
    padding: 25px;
    border-radius: 25px;
  }

  .resume-author span {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .resume-author h3 {
    font-size: 22px;
    line-height: 24px;
  }

  /* resume item */
  .resume-item {
    padding: 35px;
    border-radius: 25px;
  }

  .resume-item span {
    font-size: 14px;
  }

  .resume-check img {
    width: 15px;
    height: 15px;
    margin-top: 2px;
  }

  .resume-check li {
    margin-left: 7px;
    font-size: 16px;
  }

  /* resume logo */
  .resume-logo .resume-logo-item {
    padding: 5px 15px 5px 5px;
    border-radius: 10px;
  }

  .resume-logo-item img {
    margin-right: 7px;
    width: 25px;
    border-radius: 7px;
  }

  .resume-logo-item p {
    font-size: 14px;
  }

  /* Resume logo tooltip */
  .resume-logo-tooltip {
    bottom: 50px;
    padding: 20px;
    max-width: 250px;
    border-radius: 8px;
  }

  .resume-logo-tooltip::before {
    bottom: -17px;
  }

  .resume-logo-tooltip h4 {
    field-sizing: 15px;
    margin-bottom: 7px;
  }

  .resume-logo-tooltip p {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (max-width: 505px) {
  /* Resume */
  #resume {
    margin: 0 20px;
    margin-bottom: 50px;
    padding: 30px 0;
  }

  #resume h2 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 26px;
  }

  /* resume author */
  .resume-author {
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
  }

  .resume-author-info {
    text-align: center;
  }

  .resume-author img {
    margin-bottom: 7px;
    margin-right: 0px;
  }

  /* resume item */
  .resume-item {
    padding: 30px;
    border-radius: 20px;
  }

  /* resume logo */
  .resume-logo .resume-logo-item {
    padding: 4px 10px 4px 4px;
    border-radius: 8px;
  }

  .resume-logo-item img {
    margin-right: 5px;
    width: 22px;
    border-radius: 5px;
  }

  .resume-logo-item p {
    font-size: 13px;
  }

  /* Resume logo tooltip */
  .resume-logo-tooltip {
    bottom: 45px;
    padding: 15px;
    max-width: 200px;
  }

  .resume-logo-tooltip h4 {
    field-sizing: 14px;
    margin-bottom: 6px;
  }

  .resume-logo-tooltip p {
    font-size: 12px;
    line-height: 16px;
  }
}

/* Contact */
.contact {
  font-family: "Poppins", sans-serif;
  background: #1f242d;
  padding: 120px 0;
}
.contact h2 {
  font-size: 40px;
  color: #ededed;
  text-align: center;
  margin-bottom: 10px;
}
.contact form {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
form .input-box {
  display: flex;
  justify-content: space-between;
}
.input-box .input-field {
  width: 48.5%;
}
.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #0ef;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #ededed;
  margin: 12px 0;
}
.field .item::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Poppins", sans-serif;
}
.form .textarea-field .item {
  resize: none;
  width: 600px;
  height: 280px;
}
form #btn {
  padding: 12px 32px;
  background: #0ef;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
  width: 100%;
}
form #btn:hover {
  box-shadow: none;
}

@media screen and (max-width: 648px) {
  .contact {
    padding: 70px 0;
  }

  .contact h2 {
    font-size: 36px;
    margin-bottom: 8px;
  }
  .contact form {
    width: 400px;
  }
  form .input-box {
    flex-direction: column;
  }
  .input-box .input-field {
    width: 100%;
  }
  .field .item {
    padding: 15px;
    border: 1.5px solid #0ef;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px 0;
  }
  form #btn {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 18px;
  }
  .form .textarea-field .item {
    height: 100px;
  }
  .form .textarea-field .item {
    width: 400px;
    height: 240px;
  }
}

@media screen and (max-width: 450px) {
  .contact {
    padding: 50px 0;
  }

  .contact form {
    width: 300px;
  }
  .form .textarea-field .item {
    width: 300px;
    height: 200px;
  }
}

/* Modul */
#select {
  background-color: rgb(245, 245, 245);
  width: 90%;
  margin: 100px auto;
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding: 100px 0;
  border-radius: 30px;
}

.select-list.hide {
  display: none;
}

/* Modul Title */
.modul-title h1 {
  margin-bottom: 32px;
  font-size: 52px;
  font-weight: 500;
}

/* Select title */
.modul .select-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: 0 0 10px rgb(235, 235, 235);
  transition: 0.3s;
}

.modul .select-title:hover {
  background-color: rgb(235, 235, 235);
}

.modul .select-title i {
  font-size: 28px;
  transition: 0.3s;
  transform: rotate(-180deg);
}

.modul .select-title:hover i {
  transform: rotate(0deg);
}

.modul .select-title h2 {
  font-size: 24px;
  font-weight: 400;
}

/* Select list */
.select-list .select-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 24px 15px 15px;
  background-color: #fff;
  margin: 8px 6px 0;
  cursor: pointer;
}

.select-list .select-item:last-child {
  margin: 8px 6px 6px;
}

.select-list .select-item:hover {
  background-color: rgb(235, 235, 235);
}

.select-item li {
  font-size: 16px;
}

.select-item i {
  font-size: 16px;
  color: lime;
  margin-left: 5px;
}

@media screen and (max-width: 725px) {
  #select {
    padding: 80px 0;
  }

  /* Select title */
  .modul .select-title i {
    font-size: 24px;
  }

  .modul .select-title h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 525px) {
  #select {
    padding: 50px 0;
  }

  #select .container {
    width: 90%;
  }

  /* Modul Title */
  .modul-title h1 {
    margin-bottom: 25px;
    font-size: 36px;
  }

  /* Select title */
  .modul .select-title {
    padding: 13px 20px;
    border-radius: 8px;
    margin-bottom: 4px;
    box-shadow: 0 0 8px rgb(235, 235, 235);
  }

  .modul .select-title i {
    font-size: 20px;
  }

  .modul .select-title h2 {
    font-size: 18px;
  }

  /* Select list */
  .select-list .select-item {
    padding: 13px 20px 13px 13px;
    margin: 6px 5px 0;
  }

  .select-list .select-item:last-child {
    margin: 6px 5px 5px;
  }

  .select-item li {
    font-size: 14px;
  }

  .select-item i {
    font-size: 14px;
  }
}
